*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

img {
  width: 100%;
  border-radius: 1rem;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

h1 {
  margin: 2rem 0;
  font-size: 5rem;
}

.score-board {
  margin-bottom: 10vh;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-weight: 700;
}

.content {
  margin-bottom: 10vh;
  display: grid;
  padding: 0 2rem;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5vw;
}

.card {
  width: 100%;
}

.name {
  width: 0;
  font-size: 0;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.reset {
  border-radius: 1rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  font-weight: 700;
}

.footer {
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}
.fa-github {
  color: black;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
